.hero{
    margin-bottom: 80px;
}

iframe{
    width: 750px;
    height: 500px;
    margin-bottom: 30px;
}

.icons{
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.icons li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: #6c757d;
    border: solid 1px #E1E3E1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .hero{
        width: 100%;
    }
    video{
        width: 100%;
    }
}

@media (max-width: 767px) {
    .hero{
        width: 100%;
        padding: 10px 0;
        margin-bottom: 20px;
    }
    iframe{
        width: 100%;
        height: 300px;
        position: sticky;
        top: 10px;
        z-index: 2000; 
        background: #000;
    }



}