.leader-board{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    height: 100vh;
    background-color: white;
    z-index: 10000;
    color: rgb(33, 33, 112);
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
}

.leader-board .text{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.leader-board .text h3{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.leader-board .text span{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.leader-board .message{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 60%;
    justify-content: center;
    background-color:azure;
    margin-bottom: 50px;
    border-radius: 5px;
    padding: 10px;
}

.leader-board .message span{
    font-size: 50px;
}

.message p{
    margin: 0;
    padding: 0;
    text-align: end;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
}

.leader-board .board-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: azure;
    border-radius: 20px;
    overflow-y: scroll;
}

.board-list .element{
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 30.5px 15px rgba(0, 0, 0, 0.04);
}

@media (max-width: 767px) {
    .message{
        width: 100% !important;
        gap: 10px !important;
        padding: 20px 30px !important;
    }
}